
.fb-content {
  width: 100%;
  font-size: 0.28rem;
  background: #F2F2F2;
  margin-top: 0.88rem;
}

.fb-content .xmlx {
  width: 100%;
  height: 0.8rem;
  background: white;
  margin-bottom: 0.1rem;
}

.fb-content .xmlx .xmlx-left {
  float: left;
  font-size: 0.28rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-left: 0.3rem;
}

.fb-content .xmlx .xmlx-right {
  float: right;
  height: 0.8rem;
  margin-right: 0.3rem;
}

.fb-content .xmlx .xmlx-right .xmlx-kuang {
  width: 2.9rem;
  height: 0.8rem;
  border: none;
  display: block;
  border: none;
  font-size: 0.28rem;
  color: #999999;
  background: white;
  outline: medium;
}

.fb-content .xmbt {
  width: 100%;
  height: 3.4rem;
  background: white;
  margin-bottom: 0.1rem;
}

.fb-content .xmbt .xmbt-top {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  border-bottom: 1px solid #F2F2F2;
}

.fb-content .xmbt .xmbt-top .xt-left {
  float: left;
  margin-left: 0.3rem;
}

.fb-content .xmbt .xmbt-top .xt-right {
  float: right;
  height: 0.8rem;
  margin-right: 1.4rem;
}

.fb-content .xmbt .xmbt-top .xt-right input {
  border: none;
  font-size: 0.28rem;
  outline: medium;
}

.fb-content .xmbt .xmbt-bottom {
  width: 6.9rem;
  height: 260px;
  margin-left: 0.3rem;
}

.fb-content .xmbt .xmbt-bottom .xt-txt {
  width: 100%;
  height: 2.4rem;
  margin: 0.1rem 0;
  font-size: 0.28rem;
  border: none;
  outline: medium;
}

.fb-content .ys-time {
  width: 100%;
  background: white;
  margin-bottom: 0.1rem;
}

.fb-content .ys-time .ys {
  width: 7.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-left: 0.3rem;
  border-bottom: 1px solid #F2F2F2;
}

.fb-content .ys-time .ys .ys-left {
  float: left;
}

.fb-content .ys-time .ys .ys-right {
  float: right;
  height: 0.8rem;
  margin-right: 1.4rem;
}

.fb-content .ys-time .ys .ys-right input {
  border: none;
  font-size: 0.28rem;
  outline: medium;
}

.fb-content .ys-time .qdtime {
  width: 7.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-left: 0.3rem;
  border-bottom: 1px solid #F2F2F2;
}

.fb-content .ys-time .qdtime .qdtime-left {
  float: left;
}

.fb-content .ys-time .qdtime .qdtime-right {
  float: right;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-right: 0.3rem;
}

.fb-content .bt-mj-gs {
  width: 100%;
  background: white;
  margin-bottom: 0.1rem;
}

.fb-content .bt-mj-gs .xmbt,
.fb-content .bt-mj-gs .xmmj,
.fb-content .bt-mj-gs .gs {
  width: 7.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-left: 0.3rem;
  border-bottom: 1px solid #F2F2F2;
}

.fb-content .bt-mj-gs .xmbt .xmbt-left,
.fb-content .bt-mj-gs .xmmj .xmbt-left,
.fb-content .bt-mj-gs .gs .xmbt-left {
  float: left;
}

.fb-content .bt-mj-gs .xmbt .xmbt-right,
.fb-content .bt-mj-gs .xmmj .xmbt-right,
.fb-content .bt-mj-gs .gs .xmbt-right {
  float: right;
  height: 0.8rem;
  margin-right: 1.4rem;
}

.fb-content .bt-mj-gs .xmbt .xmbt-right input,
.fb-content .bt-mj-gs .xmmj .xmbt-right input,
.fb-content .bt-mj-gs .gs .xmbt-right input {
  border: none;
  font-size: 0.28rem;
  outline: medium;
}

.fb-content .bt-mj-gs .sjsd {
  width: 100%;
  height: 1.6rem;
}

.fb-content .bt-mj-gs .sjsd .sjsd-top {
  width: 7.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-left: 0.3rem;
}

.fb-content .bt-mj-gs .sjsd .sjsd-bottom {
  width: 100%;
  height: 0.8rem;
}

.fb-content .bt-mj-gs .sjsd .sjsd-bottom .fanan {
  width: 6.74rem;
  height: 0.56rem;
  margin: 0.12rem 0.38rem;
  border: 1px solid #F2F2F2;
  border-radius: 0.1rem;
}

.fb-content .bt-mj-gs .sjsd .sjsd-bottom .fanan .fa {
  float: left;
  width: 33.33%;
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  border-right: 1px solid #F2F2F2;
}

.fb-content .bt-mj-gs .sjsd .sjsd-bottom .fanan .fa:last-child {
  border: none;
}

.fb-content .bt-mj-gs .gongshi {
  width: 100%;
  height: 1.6rem;
}

.fb-content .bt-mj-gs .gongshi .gsh-top {
  width: 7.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-left: 0.3rem;
  border-bottom: 1px solid #F2F2F2;
}

.fb-content .bt-mj-gs .gongshi .gsh-bottom {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
}

.fb-content .bt-mj-gs .gongshi .gsh-bottom .gb-left {
  float: left;
  margin-left: 0.3rem;
}

.fb-content .bt-mj-gs .gongshi .gsh-bottom .gb-right {
  float: right;
  margin-right: 0.3rem;
}

.fb-content .sctp {
  width: 100%;
  height: 3.2rem;
  background: white;
  zoom:1;
}

.fb-content .sctp .sc-top {
  height: 0.8rem;
  line-height: 0.8rem;
  margin-left: 0.3rem;
}

.fb-content .sctp .st-bottom{
  float: left;
  width: 2.3rem;
  height: 2.3rem;
  border: 1px dashed #F2F2F2;
  margin: 0.1rem;
}
.fb-content .sctp .img-body{
  float: left;
  width: 2.3rem;
  height: 2.3rem;
  border: 0.55px solid #F2F2F2;
  margin: 0.1rem;
}
.fb-content .sctp .st-bottom img,
.fb-content .sctp .img-body img{
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=fabudingdan.css.map */
