.content{
  margin-top: 0.88rem;
  padding-bottom:1rem;
}
.lt-bottom{
  position: fixed;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  border-top: 1px solid #f2f2f2;
  left: 0;
  bottom: 0;
  font-size:0.28rem;
}
.lt-bottom .lb-left{
  width:6.0rem;
  margin-left: 0.2rem;
  float: left;
}
.lt-bottom .lb-left input{
  width:6.0rem;
}
.lt-bottom .lb-right{
  width: 1rem;
  height: 1rem;
  float: left;
  margin-right: 0.2rem;
}
